<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="eNotes.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="locationCurrentFile" value="./Current.xml"/>
    <add key="locationArchiveFile" value="./Archive.xml"/>
    <add key="grpLokal" value="" />
    <add key="lokal" value="Lokale Einstellung&#xD;&#xA;Bereits bestehende Notizen werden hiervon nicht betroffen sein.&#xD;&#xA;Neue Notizen werden mit diesen Einstellungen erstellt.&#xD;&#xA;&#xD;&#xA;"/>
    <add key="lblFont" value="Font&#xD;&#xA;Der hier ausgewählte Font wird für neue Notizen zu Beginn gesetzt" />
    <add key="lblSize" value="Schriftgröße&#xD;&#xA;Die hier eingestellte Schriftgröße wird für neue Notizen zu Beginn gesetzt." />
    <add key="lblColor" value="Farbe&#xD;&#xA;Die hier eingestellte Farbe wird für neue Notizen zu Beginn gesetzt." />
    <add key="lblClose" value="Schließverhalten&#xD;&#xA;Mit dem hier ausgewählten Schließverhalten werden neue Notizen standardmäßig beendet." />
    <add key="cmbFont" value="Font-Auswahl&#xD;&#xA;Einen Font auswählen. Es sind alle Fonts aufgelistet, die auf diesen Rechner installiert sind." />
    <add key="txtSize" value="Schriftgröße-Eingabe&#xD;&#xA;Eine Schriftgröße eintragen. Es wird ein Bereich erlaubt von 1-50." />
    <add key="cmbFarbe" value="Farbe-Auswahl&#xD;&#xA;Eine Farbe auswählen. Zur Verfügung steht eine Sammlung von Farben" />
    <add key="radSav" value="Schließverhalten-Speichern&#xD;&#xA;Die Notiz wird bei einem Neustart wieder angezeigt." />
    <add key="radArch" value="Schließverhalten-Archivieren&#xD;&#xA;Die Notiz wird nicht mehr angezeigt. Sie ist im Archiv wieder einsehbar." />
    <add key="radDel" value="Schließverhalten-Löschen&#xD;&#xA;Die Notiz wird gelöscht." />
    <add key="grpGlobal" value="" />
    <add key="lblTimestamp" value="Globale Einstellung&#xD;&#xA;Diese Einstellungen betreffen alle Notizen.&#xD;&#xA;&#xD;&#xA;Zeitstempel&#xD;&#xA;Eine Auswahl, welcher Zeitstempel auf den Notizen angezeigt wird." />
    <add key="radFirst" value="Globale Einstellung&#xD;&#xA;Diese Einstellungen betreffen alle Notizen.&#xD;&#xA;&#xD;&#xA;Zeitstempel-Erst-Erstellung&#xD;&#xA;Die Zeit der Erstellung der Notizen wird angezeigt." />
    <add key="radLast" value="Globale Einstellung&#xD;&#xA;Diese Einstellungen betreffen alle Notizen.&#xD;&#xA;&#xD;&#xA;Zeitstempel-Letzte Änderung&#xD;&#xA;Die Zeit der letzten Änderung der Notizen wird angezeigt." />
    <add key="btnSave" value="Speichern&#xD;&#xA;Die Änderungen werden übernommen." />
    <add key="grpInfo" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
    <eNotes.Properties.Settings>
      <setting name="Font" serializeAs="String">
        <value>calibri</value>
      </setting>
      <setting name="FontSize" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="DefaultColor" serializeAs="String">
        <value>Gelb</value>
      </setting>
      <setting name="Timestamp" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Close" serializeAs="String">
        <value>save</value>
      </setting>
    </eNotes.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>